body {
    text-align: center;
    background-color: #1C0B0B;
    color: #FFFFFF;
    font-family: 'Comfortaa';
}
/*The home button, to return home if the visitor gets lost*/
.navButton{
	position: absolute;  
	top: 3%; 
	left: 1%;
	font-size: 1em;
  color:#ffffff;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease
}
.navButton:hover {
  transform: scale(1.05);
}

/*Stuff to make the social links grow when I over over it cause YES*/
.image-link {
    padding-top: 2%;
    display: inline-block;
    transition: all 0.3s ease
}
.image-link:hover {
    transform: scale(1.05);
}

/*A cool ass sliding background for the header cause why not*/
#header {
    background-color: #FF6666;
    color: #FFBF00;
    padding: 1in;
    position: relative;
    z-index: 1;
    border: 0.5rem solid #FFBF00;
}

.svg-background {
  background-image: url('lines.svg');
  background-repeat: repeat;
  animation: slide 5s linear infinite;
  background-position: 0 0;
}

@keyframes slide {
  from { background-position: 0 0; }
  to { background-position: 512px 0; }
}

.mything {
  display: inline-block;
  text-decoration: none;
  color: #FF6666;
  width: 20%;
  height: 20%;
  margin: .5%;
  padding: 1%;
  background-color: #FFBF00;
  -webkit-border-radius: 10%;
  -moz-border-radius:  10/1000;
  -ms-border-radius:    10/1000;
  border-radius:      10/1000;
  font-size: x-large;
  text-align: center;
}